/* スマホ用のスタイル */
@media (max-width: 600px) {
    body {
        font-size: 14px; /* 通常のテキストのサイズを大きくします */
    }
    .katex {
        font-size: 1.0em; /* KaTeXの数式のサイズを大きくします */
    }
}
h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #000; /* 黒色の1ピクセルの下線 */
    padding-bottom: 5px; /* 下線とテキストの間に少しスペースを作る */
}
body {
    background-color: #FFF1E8; /* 薄い肌色の背景色 */
}
